<%= form_tag('create_multiple', method: :post,  multipart: true) do %>

  <div class="field">
    <%= label_tag 'Select Company' %>
    <%= select_tag "employee[company]", options_from_collection_for_select(@companies, "id", "name"), include_blank: "All" %>
  <br/><br/>
  </div>

  <div class="field">
    <%= label_tag 'Upload Employee CSV' %>
    <%= file_field(:employee, :file) %>
  </div>

  <div><%= submit_tag 'Save' %></div>

<% end %>
