<!DOCTYPE html>
<html>
  <head>
    <title>BulkimportQuiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice].present? %>
      <%= flash[:notice]%>
    <% end %>
    <% if flash[:error].present? %>
      <%= flash[:error]%>
    <% end %>
    <%= yield %>
  </body>
</html>
